# Preliminary Import

In [ ]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.6.0.20230303-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 KB 4.6 MB/s eta 0:00:00
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.6.0.20230303

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# 2017-2020

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2017-06-23 until:2020-12-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-4-4d2d485dd07b>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2020 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2020.head()

,Date,Text,Hashtags
0,2020-12-30 21:48:42+00:00,@martinkrung cryptopunk pirates,None
1,2020-12-30 14:06:41+00:00,It came up twice in the last days now in the #...,"[CryptoPunks, CryptoPunk]"
2,2020-12-30 12:54:15+00:00,And we have two cheap #CryptoPunk auctions aga...,"[CryptoPunk, cryptopunksfloorhistory]"
3,2020-12-29 21:53:31+00:00,considering buying a cryptopunk. why did i not...,None
4,2020-12-29 20:15:49+00:00,@NettieBella To get people into crypto I start...,None

In [ ]:
tweets_list_2020.to_csv("tweets_cryptopunk_2020.csv")

# 2021-2021.05

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2020-12-31 until:2021-05-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-9-d49fc5129324>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2021_05 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2021_05.head()

,Date,Text,Hashtags
0,2021-05-30 23:57:19+00:00,Apparently I have an affinity for #Cryptopunk ...,[Cryptopunk]
1,2021-05-30 23:56:02+00:00,Loving my new DaVinci Punk. Based on #Cryptopu...,[Cryptopunk]
2,2021-05-30 23:38:51+00:00,The supposed @BoredApeYC and @larvalabs Crypto...,None
3,2021-05-30 23:25:39+00:00,@pranksyNFT @cryptoslamio @BoredApeYC @nbatops...,None
4,2021-05-30 23:24:38+00:00,CRYPTOPUNK NFT FAMILY MEMBERS!!!! AT A DISCOU...,None

In [ ]:
tweets_list_2021_05.to_csv("tweets_cryptopunk_2021_05.csv")

# 2021.06-2021.08

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2021-05-31 until:2021-08-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-16-e7c55be41e99>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2021_08 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2021_08.head()

,Date,Text,Hashtags
0,2021-08-30 23:56:56+00:00,I think @bonafidehan might win for the hardest...,None
1,2021-08-30 23:55:23+00:00,"Tom Brady laser eyes, Jay-Z and OBJ with Crypt...",None
2,2021-08-30 23:49:32+00:00,Imagine buying a #cryptopunk and not having a ...,"[cryptopunk, cryptojingle]"
3,2021-08-30 23:48:07+00:00,Shopping with my gf in style @CryptoPunkCats 😆...,"[CryptoPunk, punkcats, Crypto, cryptocurrency,..."
4,2021-08-30 23:46:15+00:00,"Visa buys cryptopunk, bullish NFT whitepaper: ...",None

In [ ]:
tweets_list_2021_08.to_csv("tweets_cryptopunk_2021_08.csv")

# 2021.09-2021.10

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2021-08-31 until:2021-10-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-20-65ec74848f56>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2021_10 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2021_10.head()

,Date,Text,Hashtags
0,2021-10-30 23:59:10+00:00,@scott_lew_is Well I’ve never seen people bein...,None
1,2021-10-30 23:55:43+00:00,Check out this x-ray of Ape CryptoPunk #2924!\...,"[NFT, NFTs, NFTcommunity, NFTcollector, NFTcol..."
2,2021-10-30 23:50:00+00:00,It’s fun to look through some of the CryptoPun...,None
3,2021-10-30 23:27:41+00:00,Check out this x-ray of CryptoPunk #6196!\n\nW...,"[NFT, NFTs, NFTcommunity, NFTcollector, NFTcol..."
4,2021-10-30 23:02:05+00:00,@gainzxbt Fits you better than the cryptopunk,None

In [ ]:
tweets_list_2021_10.to_csv("tweets_cryptopunk_2021_10.csv")

# 2021.11-2021.12

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2021-10-31 until:2021-12-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-24-acee48b033b3>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2021_12 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2021_12.head()

,Date,Text,Hashtags
0,2021-12-30 23:57:16+00:00,"@NFT_NEWS_USA @FangGangNFT omg, deese is cute!",None
1,2021-12-30 23:47:14+00:00,🌟 Just minted an awesome new NFT on @tryShowti...,"[nft, smoke, CryptoPunk, CNFTdrop]"
2,2021-12-30 23:44:41+00:00,What makes y’all more $…\n\nDay trading $Crypt...,"[nft, crypto, nftart, nftcollector, daytrader,..."
3,2021-12-30 23:43:29+00:00,@TheSimpsonzPunk @cryptopunk @CryptoPunk4052 Y...,None
4,2021-12-30 23:40:59+00:00,@3dFrankenPunks @doodles When we open up to BA...,None

In [ ]:
tweets_list_2021_12.to_csv("tweets_cryptopunk_2021_12.csv")

# 2022.01-2022.03

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2021-12-31 until:2022-03-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-28-b4381dfeff80>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2022_03 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2022_03.head()

,Date,Text,Hashtags
0,2022-03-30 23:59:02+00:00,@memexbby @Charly1P4L @ThePossessedNFT So cool 😎,None
1,2022-03-30 23:55:37+00:00,This is not a #MEEBIT or a #CryptoPunk #NFT - ...,"[MEEBIT, CryptoPunk, NFT, NFTs]"
2,2022-03-30 23:15:38+00:00,Sold! CryptoPunk #2582 was purchased by SOS1US...,"[NFT, NFTs, digitalart, art, cryptoart, crypto..."
3,2022-03-30 23:06:53+00:00,And it never is this https://t.co/UbZ6NjFfR0,None
4,2022-03-30 23:03:59+00:00,@NFTom34 @ThePossessedNFT Grats Fam… will be j...,None

In [ ]:
tweets_list_2022_03.to_csv("tweets_cryptopunk_2022_03.csv")

# 2022.04-2022.07

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2022-03-31 until:2022-07-31 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2022_07 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2022_07.head()

,Date,Text,Hashtags
0,2022-10-31 23:45:50+00:00,On Saturday we’re going to release our first c...,"[bull, bullnftart, nftartists, opensea, NonFun..."
1,2022-10-31 23:39:29+00:00,@johnkarp cryptopunk. i could've gotten one ea...,None
2,2022-10-31 23:02:13+00:00,@Arthemort @SothebysInst Using AI for my Crypt...,None
3,2022-10-31 22:38:00+00:00,Was going to get a hoodie punk. Which one? Wel...,"[hoodie, phunk]"
4,2022-10-31 22:27:08+00:00,~•@FamousFoxFed is launching support on aptos ...,None

In [ ]:
tweets_list_2022_07.to_csv("tweets_cryptopunk_2022_07.csv")

# 2022.08-2022.10

In [ ]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cryptopunk since:2022-07-31 until:2022-11-01 lang:en min_faves:0 exclude:retweets').get_items()):
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

<ipython-input-50-5bff70d72ae3>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content, tweet.hashtags]) #tweet.id

In [ ]:
tweets_list_2022_10 = pd.DataFrame(tweets_list, columns=['Date', 'Text', 'Hashtags'])

In [ ]:
tweets_list_2022_10.head()

,Date,Text,Hashtags
0,2022-10-31 23:45:50+00:00,On Saturday we’re going to release our first c...,"[bull, bullnftart, nftartists, opensea, NonFun..."
1,2022-10-31 23:39:29+00:00,@johnkarp cryptopunk. i could've gotten one ea...,None
2,2022-10-31 23:02:13+00:00,@Arthemort @SothebysInst Using AI for my Crypt...,None
3,2022-10-31 22:38:00+00:00,Was going to get a hoodie punk. Which one? Wel...,"[hoodie, phunk]"
4,2022-10-31 22:27:08+00:00,~•@FamousFoxFed is launching support on aptos ...,None

In [ ]:
tweets_list_2022_10.to_csv("tweets_cryptopunk_2022_10.csv")

# Merge

In [ ]:
df1= pd.read_csv('tweets_cryptopunk_2020.csv')
df2= pd.read_csv('tweets_cryptopunk_2021_05.csv')
df3= pd.read_csv('tweets_cryptopunk_2021_08.csv')
df4= pd.read_csv('tweets_cryptopunk_2021_10.csv')
df5= pd.read_csv('tweets_cryptopunk_2021_12.csv')
df6= pd.read_csv('tweets_cryptopunk_2022_03.csv')
df7= pd.read_csv('tweets_cryptopunk_2022_07.csv')
df8= pd.read_csv('tweets_cryptopunk_2022_10.csv')

In [ ]:
df_all = pd.concat([df1, df2, df3, df4, df5,
                    df6, df7, df8])

In [ ]:
df_all.tail()

,Unnamed: 0,Date,Text,Hashtags
14164,14164.0,2022-07-31 00:32:20+00:00,@mihaijr @C_Cryptopunk @operationSIN all my ho...,NaN
14165,14165.0,2022-07-31 00:31:22+00:00,@mihaijr @operationSIN I love everyone 🫶,NaN
14166,14166.0,2022-07-31 00:29:27+00:00,@casualties @operationSIN A day later I made m...,NaN
14167,14167.0,2022-07-31 00:20:12+00:00,NullAddress bought CryptoPunk #1829 for 0.00 E...,"['nulladdress', 'cryptopunks']"
14168,14168.0,2022-07-31 00:20:02+00:00,"CryptoPunk #1829 sold for 60.00 ETH ($101,834....","['NFT', 'CryptoPunks', 'ETH']"

In [ ]:
df_all['Date'] = pd.to_datetime(df_all['Date'], utc=True)

df_all['Date'] = df_all['Date'].apply(lambda x: x.replace(tzinfo=None))

df_all['Date'] = pd.to_datetime(df_all['Date'])

# set time column as index
df_all = df_all.set_index('Date')

# sort dataframe by index (i.e., by time) in ascending order
df_all = df_all.sort_index()

In [ ]:
df_all = df_all.reset_index()

In [ ]:
df_all = df_all.loc[:, ~df_all.columns.str.startswith('Unnamed:')]

In [ ]:
df_all = df_all.drop('Hashtags', axis=1)

In [ ]:
df_all.head()

                 Date                                               Text
0 2017-06-23 12:16:34  Got me an @dennisrodman #cryptopunk might be w...
1 2017-06-24 00:03:08  @dennisrodman #cryptopunk number 7339 is up fo...
2 2017-06-24 21:44:39  Just sold my first #CryptoPunk - all appears t...
3 2017-06-24 22:53:21  Good job once again. #cryptocurrency #cryptopu...
4 2017-06-24 23:58:42  I liked a @YouTube video https://t.co/8EE4BReY...

In [ ]:
df_all.to_csv("tweets_cryptopunk_2017_2022.csv")